<div class="container px-5 px-sm-0">
  <div class="row">
    <!--左側-->
    <%= render 'books_left', book: @book %>
    <!--右側-->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user_id) do %>
              <%= image_tag 'default-image.jpeg'%></br>
              <%= current_user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
              <%= @book.title %>
              <% end %>
            </td>
            <td><%= @book.body %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
